beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.0.1
deep-translator==1.10.0
docx2txt==0.8
greenlet==2.0.2
idna==3.4
pypdf==3.4.1
pyTelegramBotAPI==4.10.0
requests==2.28.2
soupsieve==2.3.2.post1
SQLAlchemy==2.0.3
typing_extensions==4.4.0
urllib3==1.26.14
